body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font-color);
}

:root {
    --font-color: rgb(215, 215, 215);
    --contact-hover:
}


li {
    list-style: none;
    height: 5rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    /* transition: 150ms; */
    position: relative;
    overflow: hidden;
}


.contacts {
    height: 80vh;
    overflow: scroll;
    padding: 0;
    scrollbar-width: 0;
}

#search {
    background-color: rgb(109, 109, 109);
    border: none;
    border-radius: 1rem;
    width: 80%;
    height: 4vh;
    margin-top: 4vh;
    color: rgb(236, 236, 236);
    font-size: 1rem;
    padding-left: 0.5rem;
    margin-left: 10%;
}

#search:focus {
    outline: none;
}


.container {
    display: flex;
    flex-direction: column;
}

.heading {
    font-weight: 700;
    font-size: 3vh;
    text-align: center;
}

.highlight {
    background-color: rgb(42, 42, 42);
}

.circle {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translate(-50%, -50%);
    height: 5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50rem;
    background-color: rgb(42, 42, 42);
    z-index: 5;
    animation-name: expand;
    animation-duration: 500ms;
}

@keyframes expand {
    from {
        height: 5rem;
        opacity: 1;
    }

    to {
        height: 50rem;
        opacity: 0;
    }
}

.hide {
    display: hidden;
}


iframe {
    border: none;
    display: none;
    height: 100vh;
    width: 100%;

}

@media screen and (width >=700px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    iframe {
        display: block;
    }

    .heading {
        padding-left: 1rem;
        text-align: left;
    }

}